.divContainer {
    display: flex;
    justify-content: center;
}

.divAccountLogo {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divAccountLogo>img {
    height: 30px;
    cursor: pointer;
}

.showDivAccount {
    height: 50%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background: rgba(41, 41, 41, 0.5);
    border-radius: 3px;
}

.hideDivAccount {
    display: none;
}

.divRegister {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.divRegister>a {
    height: 40px;
    width: 60%;
}

.divRegister>a>button {
    height: 100%;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 3px;
    border: none;
    background: #86C232;
    color: white;
    cursor: pointer;
}

.divRegister>.divClose {
    position: absolute;
    top: 2%;
    left: 93%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.divRegister>h2 {
    margin: 1px;
}

.divRegister>h5 {
    margin: 15px;
    color: #6B6E70;
}

.divLoginContainer {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.divLoginContainer>.divCredentials {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.divCredentials>input[type='text'],
input[type='password'] {
    height: 30px;
    width: 80%;
    border-radius: 3px;
    border: none;
    margin: 5px;
}

.divLoginContainer>.divSubmit {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.divSubmit>.divHelp {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: auto;
}

.divHelp>div {
    height: 100%;
    width: 100%;
    display: flex;
    margin-left: 45px;
    color: #6B6E70;
}

.divSubmit>.divLogin {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
}

.divLogin{
    display: flex;
    align-items: center;
} 

.divLogin>button {
    height: 40px;
    width: 60%;
    border-radius: 3px;
    border: none;
    background: #86C232;
    color: white;
    cursor: pointer;
}
