html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    color: white;
    overflow-y: hidden;
}

section{
    height: 100%;
    width: 100%;
}

h1, h4{
    margin: 0;
}

.divDashboardContainer{
    height: 100%;
    width: 100%;
}

.divDashboardContainer > .divDashboardHeader{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #030303;
}

.divDashboardImg{
    height: 100%;
    width: 5%;
    display: flex;
    align-items: center;
}

.divDashboardImg > img{
    width: 100%;
    height: 25px;
}

.divDashboardMenu{
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
}

.divDashboardMenu > h4{
    cursor: pointer;
}

.divDashboardMenu > img{
    height: 15px;
    margin-left: 5px;
    cursor: pointer;
}

.divDashboardSearch{
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
}

.divDashboardSearch > input{
    height: 50%;
    width: 50%;
    border-radius: 3px;
    border: none;
    background-color: #171717;
}

.divDashboardLogin{
    height: 100%;
    width: 5%;
    margin-left: auto;
    display: flex;
    align-items: center;
}

.divDashboardLogin > img{
    height: 30px;
    cursor: pointer;
}

.divDashboardContainer > .divDashboardBody{
    height: 90%;
    width: 100%;
    background-color: #171717;
    display: flex;
    flex-direction: row;
}

.divDashboardBody > .divMusic{
    height: 100%;
    width: 80%;
    background-color: crimson;
}

.divMusic > .divRecentlyPlayed,
.divMusic > .divMyPlaylists{
    height: 30%;
    width: 100%;
}

.divRecentlyPlayed > h1,
.divMyPlaylists > h1,
.divNewReleases > h1{
    padding-left: 20px;
    padding-top: 20px;
}

.divMusic > .divNewReleases{
    height: 50%;
    width: 100%;
}

.divDashboardBody > .divTopMusic{
    height: 100%;
    width: 20%;
    background-color: rebeccapurple;
    display: flex;
    justify-content: center;
}

.divTopMusic > h1{
    padding-top: 20px;
}
