.divRegisterContainer {
    height: 60%;
    width: 50%;
    margin: auto;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(41, 41, 41, 0.5);
}

.divRegisterContainer>.divRegisterHeader {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divRegisterHeader>h1 {
    margin: 0;
}

.divRegisterContainer>.divRegisterBody {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divRegisterBody>.divRegisterInput {
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.divRegisterInput>.divRegisterInputBody {
    height: 100%;
    width: 100%;
    display: flex;
}

.divRegisterInputBody>div {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.divRegisterInputBody>div>.divLabel {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.divRegisterInputBody>div>.divLabel>label {
    margin-left: 25px;
}

.divRegisterInputBody>div>.divInput {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divRegisterInputBody>div>.divInput>input {
    width: 90%;
    height: 100%;
    margin: 0;
    border: none;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divRegisterButtonBody {
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divRegisterButtonBody>button {
    height: 40%;
    width: 20%;
    border: none;
    border-radius: 6px;
    background-color: #86C232;
    cursor: pointer;
}

.divRegisterInputBody>div>.divInputError{
    display: flex;
    align-items: center;
}

.divRegisterInputBody>div>.divInputError>h5 {
    height: 10%;
    margin-left: 25px;
    color: #fb1e1e;
}